:root {
  /* Colores Primarios */
  --primary-1: #39A900;
  --primary-2: #36AE0F;
  --primary-3: #42B31E;
  --primary-4: #4FB82D;
  --primary-5: #5BBD3C;
  --primary-6: #68C24B;
  --primary-7: #75C75A;
  --primary-8: #81CC69;
  --primary-9: #8ED178;
  --primary-10: #9AD787;
  --primary-11: #A7DC96;
  --primary-12: #B3E1A5;
  --primary-13: #C0E6B4;
  --primary-14: #CDEBC3;
  --primary-15: #D9F0D2;
  --primary-16: #E6F5E1;
  --primary-17: #F2FAF0;

  /* Grises y Neutros */
  --black: #000000;
  --gray-1: #0F0F0F;
  --gray-2: #1E1E1E;
  --gray-3: #2D2D2D;
  --gray-4: #3C3C3C;
  --gray-5: #5A5A5A;
  --gray-6: #696969;
  --gray-7: #787878;
  --gray-8: #878787;
  --gray-9: #A5A5A5;
  --gray-10: #969696;
  --gray-11: #A5A5A5;
  --gray-12: #B4B4B4;
  --gray-13: #C3C3C3;
  --gray-14: #D2D2D2;
  --gray-15: #E1E1E1;
  --gray-16: #F0F0F0;
  --white: #FFFFFF;

  /* Tipografía */
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Calibri', sans-serif;

  /* Jerarquías tipográficas */
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;
}
html {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
:before,*:after{
box-sizing: inherit;
}
a {
  text-decoration: none;
}
.titulo-caprendizaje{
  color: var(--primary-1);
  text-align: center;
  gap: 10px;
}
.caprendizaje-contenido{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.caprendizaje-contenido2{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}
.acceso{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.flecha-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.direccion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}
.logo-capre{
  width: 343px;
  height: 128px;
}
.flecha{
  width: 300px;
  height: 300px;
}
.imagen-apoyo{
  width: 400px;
  height: 400px;
}
.boton-ir-a-buscar{
  font-family: var(--font-primary);
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  height: 45px;
  width: 180px;
}