:root {
  /* Colores Primarios */
  --primary-1: #39A900;
  --primary-2: #36AE0F;
  --primary-3: #42B31E;
  --primary-4: #4FB82D;
  --primary-5: #5BBD3C;
  --primary-6: #68C24B;
  --primary-7: #75C75A;
  --primary-8: #81CC69;
  --primary-9: #8ED178;
  --primary-10: #9AD787;
  --primary-11: #A7DC96;
  --primary-12: #B3E1A5;
  --primary-13: #C0E6B4;
  --primary-14: #CDEBC3;
  --primary-15: #D9F0D2;
  --primary-16: #E6F5E1;
  --primary-17: #F2FAF0;

  /* Grises y Neutros */
  --black: #000000;
  --gray-1: #0F0F0F;
  --gray-2: #1E1E1E;
  --gray-3: #2D2D2D;
  --gray-4: #3C3C3C;
  --gray-5: #5A5A5A;
  --gray-6: #696969;
  --gray-7: #787878;
  --gray-8: #878787;
  --gray-9: #A5A5A5;
  --gray-10: #969696;
  --gray-11: #A5A5A5;
  --gray-12: #B4B4B4;
  --gray-13: #C3C3C3;
  --gray-14: #D2D2D2;
  --gray-15: #E1E1E1;
  --gray-16: #F0F0F0;
  --white: #FFFFFF;

  /* Tipografía */
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Calibri', sans-serif;

  /* Jerarquías tipográficas */
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;
}
html {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
:before,*:after{
box-sizing: inherit;
}
a {
  text-decoration: none;
}


.sidebar-admin{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
}

.liContainer{
  display: flex;
  align-items: center;
  margin-top: -7px;
}

.menu{
  display: flex;
  font-size: var(--h2);
  color: var(--black);
  margin-left: -10px;
  font-weight: bold;
}

.liContainer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.liContainer:hover {
  background-color: var(--primary-1);
  color: var(--white);
}
.liContainer:hover svg{
  color: var(--white);
}
.sidebaricon{
  font-size: 24px;
  color: var(--black);
}

.itemNames{
  margin-left: 10px;
  border-radius: 6px;
}

/* SubMenu */

.subMenu {
  list-style-type: none;
  padding-left: 20px;
}

.subMenu li {
  font-size: var(--h5);
  padding: 8px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
}
.subMenu li:hover {
  background-color: var(--primary-5);
  color: var(--white);
  border-radius: 6px;
}

.ButtonCerrarSesionAdmin  {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--black);
  border: none;
  border-radius: 6px;
  color: var(--white);
  font-size: var(--h4);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.ButtonCerrarSesionAdmin:hover {
  background-color: var(--white);
  color: var(--black);
}
