html {
  margin: 0;
  /* Elimina el margen por defecto */
  font-size: 62.5%;
  /* Define 1rem = 10px para facilitar los cálculos */
  box-sizing: border-box;
  /* Define el modelo de caja para todos los elementos */
}

body {
  font-size: 16px;
  /* Establece el tamaño base del texto */
  font-family: 'Work Sans', sans-serif;
  /* Fuente predeterminada */
}

/* Fuente personalizada para iconografía GOV.CO*/
@font-face {
  font-family: "govco-font";
  /* Nombre de la fuente personalizada */
  src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
  /* Ruta de la fuente */
  font-weight: normal;
  font-style: normal;
}



/* Estilos de la barra superior GOV.CO*/
.barra-superior-govco {
  background-color: #3366cc;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  justify-content: start;
  position: relative;
  /* height: 3rem; */
  padding-left: 4.375rem;
  z-index: 9999;
  /* Asegura que esté arriba de todo */
}


/* Logo del portal GOV.CO */
.barra-superior-govco a {
  display: block; 
  width: 136px; 
  height: auto;  
  content: url(https://cdn.www.gov.co/assets/images/logo.svg);
}

/* Enfoque accesible para el logo */
.barra-superior-govco a:focus-visible {
  outline: max(0.125rem, 0.15em) solid #FFFFFF;
  /* Contorno blanco */
  border-radius: 0.313rem;
  /* Bordes redondeados (5px) */
}




/* Enfoque accesible */
.barra-superior-govco .idioma-icon-barra-superior-govco:focus {
  outline: max(0.125rem, 0.15em) solid #FFFFFF;
  outline-offset: max(0.188rem, 0.15em);
}

/* Icono unicode insertado con fuente personalizada */
.barra-superior-govco .idioma-icon-barra-superior-govco::before {
  font-family: "govco-font";
  /* Usa la fuente personalizada */
  content: '\ec56';
  /* Unicode del ícono */
  color: #3366CC;
  /* Azul */
  font-size: 14px;
}

/* Hover del icono cambia a blanco */
.barra-superior-govco .idioma-icon-barra-superior-govco:hover::before {
  color: #FFFFFF;
}

/* Estilos responsivos para pantallas pequeñas*/
@media (max-width: 991px) {
  .barra-superior-govco {
    justify-content: center;
    /* Centra el contenido horizontalmente */
    /* Elimina el padding lateral */
    width: 100%;
  }

  .barra-superior-govco .idioma-icon-barra-superior-govco {
    right: 1rem;
    /* Reduce el desplazamiento lateral */
  }
}