:root {
  /* Colores Primarios */
  --primary-1: #39A900;
  --primary-2: #36AE0F;
  --primary-3: #42B31E;
  --primary-4: #4FB82D;
  --primary-5: #5BBD3C;
  --primary-6: #68C24B;
  --primary-7: #75C75A;
  --primary-8: #81CC69;
  --primary-9: #8ED178;
  --primary-10: #9AD787;
  --primary-11: #A7DC96;
  --primary-12: #B3E1A5;
  --primary-13: #C0E6B4;
  --primary-14: #CDEBC3;
  --primary-15: #D9F0D2;
  --primary-16: #E6F5E1;
  --primary-17: #F2FAF0;

  /* Grises y Neutros */
  --black: #000000;
  --gray-1: #0F0F0F;
  --gray-2: #1E1E1E;
  --gray-3: #2D2D2D;
  --gray-4: #3C3C3C;
  --gray-5: #5A5A5A;
  --gray-6: #696969;
  --gray-7: #787878;
  --gray-8: #878787;
  --gray-9: #A5A5A5;
  --gray-10: #969696;
  --gray-11: #A5A5A5;
  --gray-12: #B4B4B4;
  --gray-13: #C3C3C3;
  --gray-14: #D2D2D2;
  --gray-15: #E1E1E1;
  --gray-16: #F0F0F0;
  --white: #FFFFFF;

  /* Tipografía */
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Calibri', sans-serif;

  /* Jerarquías tipográficas */
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.empresa-container {
  flex: 4;
  background-color: rgb(228, 228, 228);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.visualizar-empresa-contenido {
  padding: 40px;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-1);
  margin-bottom: 20px;
}

.icon {
  width: 25px;
  height: 25px;
}

.breadcrumb {
  font-size: 14px;
  font-weight: lighter;
  color: var(--primary-1);
  margin-left: 10px;
}

.breadcrumb-actual {
  color: var(--primary-1);
}

.form-info {
  display: flex;
  align-items: start;
  background: #e8f5e9;
  gap: 16px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.info-box .icon {
  background: var(--primary-1);
  color: var(--white);
  padding: 16px;
  border-radius: 50%;
  font-size: 24px;
}

.search-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-input {
  width: 75%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.add-button {
  background-color: #2dae00;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #239000;
}

.empresas-heading {
  font-size: 20px;
  color: #2dae00;
  margin-bottom: 10px;
  font-weight: bold;
}

.empresa-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.empresa-table th,
.empresa-table td {
  text-align: left;
  padding: 14px;
  border-bottom: 1px solid #ccc;
}

.empresa-table .odd {
  background-color: #f0f0f0;
}

.button-group {
  display: flex;
  gap: 10px;
}

.report-button {
  background-color: var(--primary-1);
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.report-button:hover {
  background-color: #239000;
}

.opciones {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon-action {
  cursor: pointer;
  font-size: 16px;
  color: var(--gray-6);
}

.icon-action:hover {
  color: var(--primary-1);
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.empresas-label {
  font-size: 20px;
  color: var(--primary-1);
  font-weight: bold;
  margin: 0;
}