.change-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--white);
  font-family: var(--font-primary);
}

.logoLogin {
  cursor: pointer;
  margin-bottom: 2rem;
}

.logoLogin img {
  max-width: 120px;
}

.change-box {
  margin: auto;
  background: var(--white);
  border-radius: 0.6rem;
  padding: 3rem;
  margin-top: 10%;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.4);
  width: 50rem;
  text-align: center;
}

.change-box h2 {
  font-size: var(--h2);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.change-box p {
  font-size: var(--h5);
  color: var(--gray-5);
  font-weight: bold;
  margin-bottom: 2rem;
}

.change-box form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.change-box label {
  text-align: left;
  font-size: var(--h5);
  font-weight: normal;
  color: var(--black);
}

.change-box input {
  padding: 1rem;
  font-size: var(--h5);
  border: 0.1rem solid var(--gray-14);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1);
}

.change-box input:focus {
  outline: none;
  border-color: var(--primary-1);
}

.change-box button {
  padding: 1rem;
  font-size: var(--h5);
  font-weight: bold;
  background-color: var(--primary-1);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
}

.change-box button:hover {
  background-color: var(--primary-3);
}
