/* Variables globales de diseño */
:root {
  /* Paleta de colores primarios (verdes degradados de más oscuro a más claro) */
  --primary-1: #39A900;
  --primary-2: #36AE0F;
  --primary-3: #42B31E;
  --primary-4: #4FB82D;
  --primary-5: #5BBD3C;
  --primary-6: #68C24B;
  --primary-7: #75C75A;
  --primary-8: #81CC69;
  --primary-9: #8ED178;
  --primary-10: #9AD787;
  --primary-11: #A7DC96;
  --primary-12: #B3E1A5;
  --primary-13: #C0E6B4;
  --primary-14: #CDEBC3;
  --primary-15: #D9F0D2;
  --primary-16: #E6F5E1;
  --primary-17: #F2FAF0;

  /* Colores neutros (grises y blancos) para fondos, bordes, texto, etc. */
  --black: #000000;
  --gray-1: #0F0F0F;
  --gray-2: #1E1E1E;
  --gray-3: #2D2D2D;
  --gray-4: #3C3C3C;
  --gray-5: #5A5A5A;
  --gray-6: #696969;
  --gray-7: #787878;
  --gray-8: #878787;
  --gray-9: #A5A5A5;
  --gray-10: #969696;
  --gray-11: #A5A5A5;
  --gray-12: #B4B4B4;
  --gray-13: #C3C3C3;
  --gray-14: #D2D2D2;
  --gray-15: #E1E1E1;
  --gray-16: #F0F0F0;
  --white: #FFFFFF;

  /* Fuentes utilizadas en el sistema */
  --font-primary: 'Work Sans', sans-serif;
  /* Fuente principal para todo el sistema */
  --font-secondary: 'Calibri', sans-serif;
  /* Fuente secundaria de apoyo */

  /* Jerarquía tipográfica (tamaños de fuente estándar para títulos y subtítulos) */
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;
}

/* Reglas generales y reset */

/* Configuración base del HTML */
html {
  margin: 0;
  /* Elimina el margen por defecto */
  font-size: 62.5%;
  /* Define 1rem = 10px para facilitar los cálculos */
  box-sizing: border-box;
  /* Define el modelo de caja para todos los elementos */
}

/* Aplica el modelo de caja heredado a pseudoelementos */
:before,
*:after {
  box-sizing: inherit;
}

/* Configuración base del body */
body {
  font-size: 16px;
  /* Establece el tamaño base del texto */
  font-family: 'Work Sans', sans-serif;
  /* Fuente predeterminada */
}

/* Estilos generales para enlaces */
a {
  text-decoration: none;
  /* Elimina el subrayado por defecto en enlaces */
}

/* Estilo del scroll para todo el sitio */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #39a900 #f0f0f0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
  background-color: #39a900;
  border-radius: 6px;
  border: 2px solid #f0f0f0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #2d8600;
}